In [11]:
import pandas as pd

df_iris = pd.read_csv("iris.csv")

In [12]:
df_iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [13]:
df_iris["species"].value_counts()

species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

In [14]:
df_iris["species"].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [15]:
df_iris.drop("species", axis=1)

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [25]:
iris_wo_species = df_iris.drop('species', axis=1)
df_iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [22]:
species = df_iris['species']
species.head()

0    setosa
1    setosa
2    setosa
3    setosa
4    setosa
Name: species, dtype: object

In [26]:
type(df_iris)

pandas.core.frame.DataFrame

In [27]:
type(species)

pandas.core.series.Series

In [29]:

sepalarea = iris_wo_species['sepal_length']

sepalarea.head()

0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
Name: sepal_length, dtype: float64

In [ ]:
petalarea = iris_wo_species['petal_length']

petalarea.head

In [49]:
sepalarea = iris_wo_species['sepal_length'] * iris_wo_species['sepal_width']

sepalarea.head()

0    17.85
1    14.70
2    15.04
3    14.26
4    18.00
dtype: float64

In [50]:
petalarea = iris_wo_species['petal_length'] * iris_wo_species['petal_width']

petalarea.head()

0    0.28
1    0.28
2    0.26
3    0.30
4    0.28
dtype: float64

In [51]:
iris_wo_species

,sepal_length,sepal_width,petal_length,petal_width,sepalarea,petalarea
0,5.1,3.5,1.4,0.2,26.01,0.28
1,4.9,3.0,1.4,0.2,24.01,0.28
2,4.7,3.2,1.3,0.2,22.09,0.26
3,4.6,3.1,1.5,0.2,21.16,0.30
4,5.0,3.6,1.4,0.2,25.00,0.28
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,44.89,11.96
146,6.3,2.5,5.0,1.9,39.69,9.50
147,6.5,3.0,5.2,2.0,42.25,10.40
148,6.2,3.4,5.4,2.3,38.44,12.42
149,5.9,3.0,5.1,1.8,34.81,9.18

In [52]:
iris_wo_species['sepalarea'] = sepalarea
iris_wo_species

,sepal_length,sepal_width,petal_length,petal_width,sepalarea,petalarea
0,5.1,3.5,1.4,0.2,17.85,0.28
1,4.9,3.0,1.4,0.2,14.70,0.28
2,4.7,3.2,1.3,0.2,15.04,0.26
3,4.6,3.1,1.5,0.2,14.26,0.30
4,5.0,3.6,1.4,0.2,18.00,0.28
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,20.10,11.96
146,6.3,2.5,5.0,1.9,15.75,9.50
147,6.5,3.0,5.2,2.0,19.50,10.40
148,6.2,3.4,5.4,2.3,21.08,12.42
149,5.9,3.0,5.1,1.8,17.70,9.18

In [53]:
iris_wo_species['petalarea'] = petalarea
iris_wo_species

,sepal_length,sepal_width,petal_length,petal_width,sepalarea,petalarea
0,5.1,3.5,1.4,0.2,17.85,0.28
1,4.9,3.0,1.4,0.2,14.70,0.28
2,4.7,3.2,1.3,0.2,15.04,0.26
3,4.6,3.1,1.5,0.2,14.26,0.30
4,5.0,3.6,1.4,0.2,18.00,0.28
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,20.10,11.96
146,6.3,2.5,5.0,1.9,15.75,9.50
147,6.5,3.0,5.2,2.0,19.50,10.40
148,6.2,3.4,5.4,2.3,21.08,12.42
149,5.9,3.0,5.1,1.8,17.70,9.18

In [ ]:
large_flowers = iris_wo_species[iris_wo_species['sepalarea'] > 15]

large_flowers.head(10)

large_flowers.info()

<class 'pandas.core.frame.DataFrame'>
Index: 120 entries, 0 to 149
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  120 non-null    float64
 1   sepal_width   120 non-null    float64
 2   petal_length  120 non-null    float64
 3   petal_width   120 non-null    float64
 4   sepalarea     120 non-null    float64
 5   petalarea     120 non-null    float64
dtypes: float64(6)
memory usage: 6.6 KB

In [ ]:
# sorting value by something

sortedLargeFlowers = large_flowers.sort_values(by='sepalarea',ascending=False)

sortedLargeFlowers.head()

,sepal_length,sepal_width,petal_length,petal_width,sepalarea,petalarea
131,7.9,3.8,6.4,2.0,30.02,12.80
117,7.7,3.8,6.7,2.2,29.26,14.74
109,7.2,3.6,6.1,2.5,25.92,15.25
15,5.7,4.4,1.5,0.4,25.08,0.60
14,5.8,4.0,1.2,0.2,23.20,0.24

In [64]:
large_flowers = sortedLargeFlowers['sepalarea']
large_flowers.head(1)

131    30.02
Name: sepalarea, dtype: float64

In [69]:
AreaOfLargestFlower = sortedLargeFlowers['sepalarea'].max()
AreaOfLargestFlower

np.float64(30.02)

In [70]:
AreaOfLargestFlower = sortedLargeFlowers['sepalarea'].min()
AreaOfLargestFlower

np.float64(15.040000000000001)

In [72]:
large_flowers16 = iris_wo_species[iris_wo_species['sepalarea'] == 16]

large_flowers16.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, 35 to 35
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  1 non-null      float64
 1   sepal_width   1 non-null      float64
 2   petal_length  1 non-null      float64
 3   petal_width   1 non-null      float64
 4   sepalarea     1 non-null      float64
 5   petalarea     1 non-null      float64
dtypes: float64(6)
memory usage: 56.0 bytes