In [3]:
class_1 = int(50+47+51+49+47)/(5) 
print(class_1)

48.8

In [ ]:
no_students = 5
students_list = {
    's1':50,
    's2':47,
    's3':51,
    's4':49,
    's5':47
}

In [ ]:
median_student = [5, 20, 50, 80, 130] 
median_student.sort()

print(median_student)

[5, 20, 50, 80, 130]

In [11]:
#5 20 50 80 130

nums = [20.8,130,50,5]
nums.sort
nums

[20.8, 130, 50, 5]

In [ ]:
import pandas as pd

In [13]:
iris = pd.read_csv('iris.csv')
iris.head(2)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

In [34]:
df = iris[['sepal_length','sepal_width','petal_length','petal_width']]

df.head()

print(df.mean())

sepal_length    5.843333
sepal_width     3.054000
petal_length    3.758667
petal_width     1.198667
dtype: float64

In [37]:
SL = iris[['sepal_length']]
SL.mode()

   sepal_length
0           5.0

In [39]:
x = {
    'a': [1,2,3,4,5,6,7],
    'b': [3,3,4,5,5,5,6]
}

xdf = pd.DataFrame(x)
xdf

   a  b
0  1  3
1  2  3
2  3  4
3  4  5
4  5  5
5  6  5
6  7  6

In [40]:
xdf['b'].mode()

0    5
Name: b, dtype: int64

In [41]:
xdf['b'].std()
xdf['b'].var()
xdf['b'].count()

np.int64(7)

In [42]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [ ]:
#variance = ((data1-mean)**2) + ((data2-mean)**2) + ((data3-mean)**2) + ((data4-mean)**2) / 4

In [61]:
import numpy as np

class1 = np.array([50,47,51,49,47])
class2 = np.array([5,20,50,80,130])

mean = sum(class1)/len(class1)
print("mean is: ",mean)

variance1 = sum((class1 - mean)**2)/len(class1)
print(variance1)

mean is:  48.8
2.5599999999999996

In [60]:
mean = sum(class2)/len(class2)
print("mean is: ",mean)

sum_of_differences = np.array([((class2 - mean)**2)])
variance2 = (sum_of_differences.sum())/len(class2)
print(variance2)

mean is:  57.0
1996.0

In [64]:
std1 = variance1**0.5
print(std1)
std2 = variance2**0.5
print(std2)

1.5999999999999999
44.67661580737735