In [15]:
import pandas as pd
import seaborn as sns
import numpy as np
from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [16]:
data = pd.DataFrame({
    'age': [20,50,100],
    'income': [20000,50000,100000]
})

scaler = MinMaxScaler()

normalize_data = scaler.fit_transform(data)

df_normalized = pd.DataFrame(normalize_data, columns=['age', 'income'])
df_normalized

     age  income
0  0.000   0.000
1  0.375   0.375
2  1.000   1.000

In [20]:
std_scaler = StandardScaler()

std_data = scaler.fit_transform(data)

std_data

array([[0.   , 0.   ],
       [0.375, 0.375],
       [1.   , 1.   ]])

In [21]:
df_std_data = pd.DataFrame(std_data, columns= ['age', 'income'])
df_std_data

     age  income
0  0.000   0.000
1  0.375   0.375
2  1.000   1.000