# FEATURE ENGINEERING

it is the process of transforming raw data into features that make machine learning algorithms work better.
-to improve performance of ML models
-it can improve quality and relevance of features

Categorical Features

    -Groups of data
        -will include Binary Features (0 and 1), Survived - Yes NO, Bool data type
        -Category data type - use for columns with limited, fixed number of unique values (low cardinality) ie gender, education level, or product size
        -Ordinal data type - you can set up a scale in the categories - Small Medium Large - Cold warm hot, small height medium height large height

Numerical Features

    -where there are numbers
    -will include float and integers both
    -continuos values,
    -grouping up will not make much sense (unless doing clustering)

In [16]:
import pandas as pd
import seaborn as sns
import numpy as np

In [2]:
iris = sns.load_dataset('iris')

iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

can u check for titanic?
    -how many categorical features?
    -how many numerical features

In [4]:
titanic = sns.load_dataset('titanic')

In [5]:
penguins = sns.load_dataset('penguins')

penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [6]:
penguins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

- Encoding

In [17]:
# label encoding
# column that u encode
# manually .map function

penguins['species'].unique()

species_codes = {
    'Adelie': 0,
    'Chinstrap': 1,
    'Gentoo': 2
}

penguins['species_encoded'] = penguins['species'].map(species_codes)
penguins.sample(10)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,species_encoded,island_encoded,island_factorized,species_factorized
156,Chinstrap,Dream,52.7,19.8,197.0,3725.0,Male,1,2,2,1
71,Adelie,Torgersen,39.7,18.4,190.0,3900.0,Male,0,0,0,0
219,Chinstrap,Dream,50.2,18.7,198.0,3775.0,Female,1,2,2,1
302,Gentoo,Biscoe,47.4,14.6,212.0,4725.0,Female,2,1,1,2
146,Adelie,Dream,39.2,18.6,190.0,4250.0,Male,0,2,2,0
131,Adelie,Torgersen,43.1,19.2,197.0,3500.0,Male,0,0,0,0
187,Chinstrap,Dream,47.5,16.8,199.0,3900.0,Female,1,2,2,1
22,Adelie,Biscoe,35.9,19.2,189.0,3800.0,Female,0,1,1,0
265,Gentoo,Biscoe,43.6,13.9,217.0,4900.0,Female,2,1,1,2
323,Gentoo,Biscoe,49.1,15.0,228.0,5500.0,Male,2,1,1,2

In [8]:
penguins['island'].unique()

island_codes = {
    'Torgersen':0, 
    'Biscoe':1, 
    'Dream':2
}

penguins['island_encoded'] = penguins['island'].map(island_codes)
penguins.sample(10)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,species_encoded,island_encoded
113,Adelie,Biscoe,42.2,19.5,197.0,4275.0,Male,0,1
319,Gentoo,Biscoe,51.1,16.5,225.0,5250.0,Male,2,1
144,Adelie,Dream,37.3,16.8,192.0,3000.0,Female,0,2
220,Gentoo,Biscoe,46.1,13.2,211.0,4500.0,Female,2,1
288,Gentoo,Biscoe,43.5,14.2,220.0,4700.0,Female,2,1
56,Adelie,Biscoe,39.0,17.5,186.0,3550.0,Female,0,1
279,Gentoo,Biscoe,50.4,15.3,224.0,5550.0,Male,2,1
173,Chinstrap,Dream,48.5,17.5,191.0,3400.0,Male,1,2
96,Adelie,Dream,38.1,18.6,190.0,3700.0,Female,0,2
83,Adelie,Torgersen,35.1,19.4,193.0,4200.0,Male,0,0

In [9]:
x, y = pd.factorize(penguins['island'])

penguins ['island_factorized'] = x
penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,species_encoded,island_encoded,island_factorized
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male,0,0,0
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female,0,0,0
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female,0,0,0
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,0,0,0
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female,0,0,0
...,...,...,...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN,2,1,1
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female,2,1,1
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male,2,1,1
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female,2,1,1
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male,2,1,1

In [10]:
df_island = penguins.copy()

df_island['island'] = df_island['island'].astype('category')

df_island['island_cat_encoded'] = df_island['island'].cat.codes


#print(df_island['island'].head())

df_island

# df_island['island'] = df_island['island'].astype('category')

# # Create the new column using the integer codes
# df_island['island_astype_encoded'] = df_island['island'].cat.codes



#df_island['island_astype_encoded'] 




#df_island.info()

#penguins['species'].cat

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,species_encoded,island_encoded,island_factorized,island_cat_encoded
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male,0,0,0,2
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female,0,0,0,2
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female,0,0,0,2
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,0,0,0,2
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN,2,1,1,0
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female,2,1,1,0
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male,2,1,1,0
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female,2,1,1,0
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male,2,1,1,0

In [ ]:
# pandas map function

s = pd.Series(['cat', 'cow', 'dog'])

s2 = s.map({'cat':'kitten', 'cow':'calf'})
print(s2)

0    kitten
1      calf
2       NaN
dtype: object

###copy & view

df
df2 = df.copy()
df2.dropna()

In [ ]:
#inbuilt map functions of python

words = ['apple', 'banana', 'cherry']
lengths = map(len, words)
list(lengths)

[5, 6, 6]

In [18]:
# factorize function

# species still contains the specie names

#factorized will take the column and assigns numbers to the new group

import pandas as pd

label_codes, label_names = pd.factorize(penguins['species'])

penguins ['species_factorized'] = label_codes

penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,species_encoded,island_encoded,island_factorized,species_factorized
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male,0,0,0,0
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female,0,0,0,0
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female,0,0,0,0
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,0,0,0,0
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN,2,1,1,2
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female,2,1,1,2
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male,2,1,1,2
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female,2,1,1,2
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male,2,1,1,2

Task Exercise

-apply the three methods to island column

-manually applying label codes

-using the factorize method

-using the catagory

-using the label encoder method

- using the categories method

- convert any data type feature into categorical, then use
-cat codes

In [14]:
df = penguins.copy()

df['species'] = df['species'].astype('category')

df['species_cat_encoded'] = df['species'].cat.codes

In [ ]:
#label encoding using sklearn

from sklearn.preprocessing import LabelEncoder

#create labelEncoder instance
encoder = LabelEncoder()

df['species_sklearn_le'] = encoder.fit_transform(df['species'])
df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,species_encoded,island_encoded,island_factorized,species_factorized,species_cat_encoded,species_sklearn_le
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male,0,0,0,0,0,0
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female,0,0,0,0,0,0
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female,0,0,0,0,0,0
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN,2,1,1,2,2,2
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female,2,1,1,2,2,2
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male,2,1,1,2,2,2
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female,2,1,1,2,2,2
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male,2,1,1,2,2,2

Multiple methods:

- manual - .map() - Ordinal