One-hot encoding

In [6]:
import pandas as pd
import seaborn as sns
import numpy as np

In [7]:
iris = sns.load_dataset('iris')
iris.sample(10)

     sepal_length  sepal_width  petal_length  petal_width     species
23            5.1          3.3           1.7          0.5      setosa
83            6.0          2.7           5.1          1.6  versicolor
121           5.6          2.8           4.9          2.0   virginica
105           7.6          3.0           6.6          2.1   virginica
101           5.8          2.7           5.1          1.9   virginica
63            6.1          2.9           4.7          1.4  versicolor
65            6.7          3.1           4.4          1.4  versicolor
90            5.5          2.6           4.4          1.2  versicolor
54            6.5          2.8           4.6          1.5  versicolor
49            5.0          3.3           1.4          0.2      setosa

In [8]:
df = pd.DataFrame([1,2,np.nan,1,1,1,3,3,3,2,2,2,3,3,3,1,1,1,1], columns=['first'])
df.head()

df['first'].dtype

df['first'] = df['first'].astype('category')
df['first'].dtype

df_encoded = pd.get_dummies(df, columns=['first'], dummy_na=False)
df_encoded.head()

   first_1.0  first_2.0  first_3.0
0       True      False      False
1      False       True      False
2      False      False      False
3       True      False      False
4       True      False      False

can also use sklearn.preprocessing method

-OneHotEncoder
-the other method to to label encoding?????? --> LabelEncoder

In [9]:
# get dummies method - categories --> Columns
# automatically detects the categorical columns as well

df_one_hot = pd.get_dummies(iris, columns=['species'])

df_one_hot['species_setosa'].dtype

df_one_hot.sample(10)

,sepal_length,sepal_width,petal_length,petal_width,species_setosa,species_versicolor,species_virginica
12,4.8,3.0,1.4,0.1,True,False,False
77,6.7,3.0,5.0,1.7,False,True,False
141,6.9,3.1,5.1,2.3,False,False,True
82,5.8,2.7,3.9,1.2,False,True,False
49,5.0,3.3,1.4,0.2,True,False,False
127,6.1,3.0,4.9,1.8,False,False,True
80,5.5,2.4,3.8,1.1,False,True,False
148,6.2,3.4,5.4,2.3,False,False,True
112,6.8,3.0,5.5,2.1,False,False,True
131,7.9,3.8,6.4,2.0,False,False,True

Get dummies, it automatically ignores any missing values

In [10]:
penguins = sns.load_dataset('penguins')
penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [11]:
df_p_onehot = pd.get_dummies(penguins, columns=['species'])
df_p_onehot['species_Adelie'].dtype

penguins['species']

0      Adelie
1      Adelie
2      Adelie
3      Adelie
4      Adelie
        ...
339    Gentoo
340    Gentoo
341    Gentoo
342    Gentoo
343    Gentoo
Name: species, Length: 344, dtype: object

In [12]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
import numpy as np

#creating the encoder
encoder = OneHotEncoder(sparse_output=False, handle_unknown='ignore')

#ignore the missing values of handle_unknown = 'ignore' inclass_label_encoding.ipynb

In [13]:
from sklearn.preprocessing import OneHotEncoder
import numpy as np

# Creating the encoder
encoder = OneHotEncoder( sparse_output=False, handle_unknown='ignore')

In [14]:

iris_one_hot = iris.copy()

encoder = OneHotEncoder(sparse_output=False, handle_unknown='ignore')

categorical_cols = ['species']

ecoded_values = encoder.fit_transform(iris_one_hot[categorical_cols]) # species

#name of new columns, that don't exist yet
new_columns = encoder.get_feature_names_out(categorical_cols)
new_columns
# ['species_setosa', 'species_versicolor', 'species_virginica']

#iris_one_hot

#adding the columns to the dataframe

iris_one_hot[new_columns] = ecoded_values

iris_one_hot.drop(columns=['species'], inplace=True)
iris_one_hot

,sepal_length,sepal_width,petal_length,petal_width,species_setosa,species_versicolor,species_virginica
0,5.1,3.5,1.4,0.2,1.0,0.0,0.0
1,4.9,3.0,1.4,0.2,1.0,0.0,0.0
2,4.7,3.2,1.3,0.2,1.0,0.0,0.0
3,4.6,3.1,1.5,0.2,1.0,0.0,0.0
4,5.0,3.6,1.4,0.2,1.0,0.0,0.0
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,0.0,0.0,1.0
146,6.3,2.5,5.0,1.9,0.0,0.0,1.0
147,6.5,3.0,5.2,2.0,0.0,0.0,1.0
148,6.2,3.4,5.4,2.3,0.0,0.0,1.0
149,5.9,3.0,5.1,1.8,0.0,0.0,1.0

pl , pw, sl, sw, species, setosa, virginica, versicolor

Species --> object

drop this column, before fitting into the model