# FEATURE ENGINEERING

In [85]:
import pandas as pd
import seaborn as sns
import numpy as np

In [86]:
iris = sns.load_dataset('iris')

iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
iris.info()

In [88]:
titanic = sns.load_dataset('titanic')

In [ ]:
penguins = sns.load_dataset('penguins')

penguins.head()

In [ ]:
penguins.info

In [ ]:
penguins.describe()

- Encoding

In [ ]:
# label encoding
# column that u encode

penguins['species'].unique()

species_codes = {
    'Adelie': 0,
    'Chinstrap': 1,
    'Gentoo': 2
}

penguins['species_encoded'] = penguins['species'].map(species_codes)
penguins.sample(10)

In [ ]:
penguins['island'].unique()

island_codes = {
    'Torgersen':0, 
    'Biscoe':1, 
    'Dream':2
}

penguins['island_encoded'] = penguins['island'].map(island_codes)
penguins.sample(10)

In [ ]:
x, y = pd.factorize(penguins['island'])

penguins ['island_factorized'] = x
penguins

In [95]:
df_island = penguins.copy()

df_island['island'] = df_island['island'].astype('category')

df_island['island_cat_encoded'] = df_island['island'].cat.codes


#print(df_island['island'].head())

df_island

# df_island['island'] = df_island['island'].astype('category')

# # Create the new column using the integer codes
# df_island['island_astype_encoded'] = df_island['island'].cat.codes



#df_island['island_astype_encoded'] 




#df_island.info()

#penguins['species'].cat

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,species_encoded,island_encoded,island_factorized,island_cat_encoded
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male,0,0,0,2
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female,0,0,0,2
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female,0,0,0,2
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,0,0,0,2
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN,2,1,1,0
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female,2,1,1,0
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male,2,1,1,0
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female,2,1,1,0
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male,2,1,1,0

In [96]:
# pandas map
# s = pd.series(['cat', 'cow', 'dog'])

# s2 = s.map({'cat':'kitten', 'cow':'calf'})

###copy & view

df
df2 = df.copy()
df2.dropna()

In [97]:
words = ['apple', 'banana', 'cherry']
lengths = map(len, words)
list(lengths)

[5, 6, 6]

In [98]:
# factorize

import pandas as pd


x, y = pd.factorize(penguins['species'])

y



# penguins['island_encoded'] = penguins['island'].map(island_codes)

penguins ['species_factorized'] = x


penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,species_encoded,island_encoded,island_factorized,species_factorized
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male,0,0,0,0
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female,0,0,0,0
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female,0,0,0,0
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,0,0,0,0
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN,2,1,1,2
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female,2,1,1,2
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male,2,1,1,2
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female,2,1,1,2
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male,2,1,1,2

In [99]:
df = penguins.copy()

df['species'] = df['species'].astype('category')

df['species_cat_encoded'] 

df.info()

#penguins['species'].cat

KeyError: 'species_cat_encoded'

In [ ]:
#label encoding using sklearn

from sklearn.preprocessing import LabelEncoder

#create labelencoder instance

encoder = LabelEncoder()

df['species_sklearn_le'] = encoder.fit_transform(df['species'])

df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,species_encoded,island_encoded,species_factorized,species_sklearn_le
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male,0,0,0,0
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female,0,0,0,0
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female,0,0,0,0
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,0,0,0,0
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN,2,1,2,2
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female,2,1,2,2
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male,2,1,2,2
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female,2,1,2,2
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male,2,1,2,2