In [1]:
import pandas as pd
import seaborn as sns
import numpy as np

In [4]:
iris = sns.load_dataset('iris')

In [18]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [29]:
df = pd.DataFrame([1,2,1,1,1,3,3,3,3,1,1,1,1,1], columns=['first'])

df.head()

# df_encoded = pd.get_dummies(df,columns=['first'])
# df_encoded

   first
0      1
1      2
2      1
3      1
4      1

In [17]:
df_onehot = pd.get_dummies(iris, columns=['species'])
df_onehot['species_setosa'].dtype

df_onehot.sample(10)

,sepal_length,sepal_width,petal_length,petal_width,species_setosa,species_versicolor,species_virginica
117,7.7,3.8,6.7,2.2,False,False,True
95,5.7,3.0,4.2,1.2,False,True,False
0,5.1,3.5,1.4,0.2,True,False,False
61,5.9,3.0,4.2,1.5,False,True,False
68,6.2,2.2,4.5,1.5,False,True,False
50,7.0,3.2,4.7,1.4,False,True,False
10,5.4,3.7,1.5,0.2,True,False,False
16,5.4,3.9,1.3,0.4,True,False,False
124,6.7,3.3,5.7,2.1,False,False,True
37,4.9,3.6,1.4,0.1,True,False,False

In [10]:
penguins = sns.load_dataset('penguins')
penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [16]:
df_p_onehot = pd.get_dummies(penguins, columns=['species'])
df_p_onehot['species_Adelie'].dtype

penguins['species']

0      Adelie
1      Adelie
2      Adelie
3      Adelie
4      Adelie
        ...
339    Gentoo
340    Gentoo
341    Gentoo
342    Gentoo
343    Gentoo
Name: species, Length: 344, dtype: object

In [39]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer


iris_onehot = iris.copy()

encoder = OneHotEncoder(sparse_output=False, handle_unknown='ignore')

categorical_cols = ['species']

iris_onehot = encoder.fit_transform(iris_onehot[categorical_cols])
iris_onehot

encoder.get_feature_names_out(categorical_cols)

array(['species_setosa', 'species_versicolor', 'species_virginica'],
      dtype=object)

In [40]:
iris_onehot[new_colums] = encoded_values

NameError: name 'encoded_values' is not defined