In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.model_selection import train_test_split 
from sklearn.metrics import mean_absolute_error, r2_score

In [132]:
titanic = sns.load_dataset('titanic')

titanic.head(2)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False

In [136]:
label_codes, label_names = pd.factorize(titanic['sex'])
titanic ['sex_factorized'] = label_codes

X = titanic[['survived']]
y = titanic['sex_factorized']

In [125]:
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state= 42, test_size=0.2)

In [ ]:
titanic.isna().sum()

In [ ]:
titanic.info()

In [137]:
lr = LogisticRegression() # classification

lr.fit(X_train, y_train) # fitting here, must be numeric

y_pred = lr.predict(X_test)

lr.score(X_test, y_test)

print(f"Accuracy Score: {lr.score(X_test, y_test):.4f}")

Accuracy Score: 0.7821

In [138]:
r2 = r2_score(y_test, y_pred)  
mae = mean_absolute_error(y_test,y_pred)

print(r2_score(y_test, y_pred), mean_absolute_error(y_test, y_pred))

0.08023715415019772 0.21787709497206703