**Logistic Regression**
	
-works best with yes no kind of problems
-Binomial - Deals with two classes, YES or NO
-multinomial - Deals with multiple classes

image.png

-We are doing regression, in both cases
-trying to fit a line through the data

In the case above, data is modelled via straight line using: y = mx + c

image.png

Data is modelled using a sigmoid function: y = sigmoid(x)

Model Logistic Regression:

-Learning Parameters: Co-efficients = weights and bias = w1* x1 + B
-Loss function: LOG-LOSS

**Try to understand somethings about CLASSIFICATION**

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.model_selection import train_test_split 
from sklearn.metrics import mean_absolute_error, r2_score

In [43]:
tips = sns.load_dataset('tips')
tips.head(2)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3

Feature Engineering: is legit
-The classifier, logistic regression, will not accept, continous values.
-we supply categorical values

In [ ]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor

from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

# split into X,y
X = car_sales.drop('Price', axis1)
y = car_sales['Price']

# split into training and test
X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    test_size=0.2)

# Build machine learning model

model = RandomForestRegressor()
model.fit(X_train, y_train)
model.score(X_test, y_test)

# Turn the categories into numbers
##OneHotEncoder

categorical_features = ['Make', 'Color', 'Door']
one_hot = OneHotEncoder
transformer = ColumnTransformer([('one_hot',
                                    one_hot,
                                    categorical_features)],
                                    remainder='passthrough')
transformed_X = transformer.fit_transform(X)
transformed_X

pd.DataFrame(transformed_X)

##dummies

dummies = pd.get_dummies(car_sales[['Make', 'Color', 'Door']])
dummies

# Let's refit the model

np.random.seed(42)
X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    test_size=0.2)
model.fit(X_train, y_train)
model.score(X_test, y_test)

In [75]:
# simple, manual label encoding using map method
tips['smoker_bin'] = tips['smoker'].map({
    'Yes': 1,
    'No' : 0}
)

tips['sex_bin'] = tips['sex'].map({
    'Male': 1,
    'Female' : 0}
)

tips.head(2)

   total_bill   tip     sex smoker  day    time  size smoker_bin sex_bin
0       16.99  1.01  Female     No  Sun  Dinner     2          0       0
1       10.34  1.66    Male     No  Sun  Dinner     3          0       1

In [76]:
X = tips[['smoker_bin']] # 0101011101110101
#y = tips['tip'] # continuos

# convert the target column, then use it for y
#X = tips[['total_bill']] 
y = tips['sex_bin'] # encoded column

# yes, how much did they tip?
# are we predicting a continuos value?

In [77]:
tips.head(2)

   total_bill   tip     sex smoker  day    time  size smoker_bin sex_bin
0       16.99  1.01  Female     No  Sun  Dinner     2          0       0
1       10.34  1.66    Male     No  Sun  Dinner     3          0       1

using this dataset, linear regression:

-take a continuos values
-predict a continuos value

Logistic Regression

-classification algorithm
-tips(continuos) vs smoker_bin (categorical)

REGRESSION

-Are you trying to predict the tip amount (REGRESSION), based on if a person smokes or not?
-use smoker or not, to judge the amount of bill

CLASSIFICATION

if a certain amount of tip, can we predict, if person is a smoker or not? (CLASSIFICATION)
use bill to judge smoker or not

Failsafe for pushing alphabetic/non numeric data into the model

-if you accidentally, use a binary category for y, still be able to classify things
-it will do the label encoding internally, when doing the model fit

In [78]:
y_train

0      0
93     0
147    0
171    1
187    1
      ..
141    1
17     1
139    0
150    1
43     1
Name: sex_bin, Length: 243, dtype: category
Categories (2, int64): [1, 0]

In [79]:
model_Logistic = LogisticRegression(class_weight='balanced') # classification

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state= 42, test_size=0.2)

model_Logistic.fit(X_train, y_train) # fitting here, must be numeric

y_pred = model_Logistic.predict(X_test)

In [80]:
y_pred

array([0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0,
       1, 1, 1, 0, 0])

In [81]:
# evaluate performance
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

# confusion matrix
accuracy_test = accuracy_score(y_test, y_pred)
accuracy_test

# cm = confusion_matrix(y_test, y_pred)
# cm

# cr = classification_report(y_test, y_pred)
# cr

print(classification_report(y_test, y_pred, zero_division=0))

              precision    recall  f1-score   support

           0       0.35      0.58      0.44        19
           1       0.56      0.33      0.42        30

    accuracy                           0.43        49
   macro avg       0.46      0.46      0.43        49
weighted avg       0.48      0.43      0.43        49

**tips**

In [83]:
tips['sex_bin'].value_counts()

sex_bin
1    157
0     87
Name: count, dtype: int64

In [84]:
tips.head()

   total_bill   tip     sex smoker  day    time  size smoker_bin sex_bin
0       16.99  1.01  Female     No  Sun  Dinner     2          0       0
1       10.34  1.66    Male     No  Sun  Dinner     3          0       1
2       21.01  3.50    Male     No  Sun  Dinner     3          0       1
3       23.68  3.31    Male     No  Sun  Dinner     2          0       1
4       24.59  3.61  Female     No  Sun  Dinner     4          0       0

Classification Metrics:

Accuracy = all the time - not that usable - imbalance, it will not show you true performance
Precision = when FP are crucial = TP / TP + FP -
Recall = when FN are crucial = TP / TP + FN
F1 Score = to check performance in general =