In [10]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report 

df = pd.read_csv('/Users/mf/ai_ml_class/day32 - project_finale/_MalaysiaFloodDataset_MalaysiaFloodDataset.csv')

In [11]:
df = df.rename(columns={'0V': 'NOV'})

In [12]:
month_cols = ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC']
df_long = df.melt(id_vars=['STATE', 'DISTRICT', 'YEAR', 'FLOOD '], 
                  value_vars=month_cols, 
                  var_name='Month_Name', 
                  value_name='Rainfall')

In [13]:
month_map = {m: i+1 for i, m in enumerate(month_cols)}
df_long['Month'] = df_long['Month_Name'].map(month_map)
df_long['Date'] = pd.to_datetime(df_long[['YEAR', 'Month']].assign(DAY=1))
df_long = df_long.sort_values(['DISTRICT', 'Date'])

In [14]:
df_kelantan = df_long[df_long['STATE'] == 103].pivot(index='Date', columns='DISTRICT', values='Rainfall')

In [15]:
df_kelantan['KB_Rain'] = df_kelantan[103001]
df_kelantan['KK_Rain_Lag1'] = df_kelantan[103003].shift(1)

In [24]:
df_final = df_kelantan[['KB_Rain', 'KK_Rain_Lag1']].dropna()

In [25]:
print("Ready for Machine Learning! Final Table Preview:")
print(df_final.head())

Ready for Machine Learning! Final Table Preview:
DISTRICT    KB_Rain  KK_Rain_Lag1
Date
2000-02-01   163.75        173.29
2000-03-01   238.34        163.75
2000-04-01   248.55        238.34
2000-05-01   100.37        248.55
2000-06-01   117.79        100.37