In [2]:
import numpy as np

In [3]:
np.__version__

'2.3.5'

In [4]:
python_list = [1,2,3,"string",6.7]

num_list = [x for x in range(10)]
print(num_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
print(num_list*3)
print(type(num_list))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
<class 'list'>

In [ ]:
#num_list.insert(0,'hello')
num_list.remove('hello')
num_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#num_list.insert(0,'list')
my_list = num_list.index('list')
my_list

0

In [16]:
count_list = num_list.count('list')
count_list

1

In [ ]:
#num_list.remove('list')
#num_list.reverse()
num_list.sort()
num_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
copy_list = num_list.copy()
copy_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
ary1 = np.array([1,2,3,4,5])
print(ary1)
type(ary1)

[1 2 3 4 5]

numpy.ndarray

In [21]:
print(ary1*3)
print(type(ary1))

[ 3  6  9 12 15]
<class 'numpy.ndarray'>

In [22]:
arr1d = np.array([1,2,3,4])
print(arr1d)
print(arr1d.ndim)

[1 2 3 4]
1

In [23]:
arr2d = np.array([
                [1,2,3],
                [4,5,6]
                ])
print(arr2d)
print(arr2d.ndim)

[[1 2 3]
 [4 5 6]]
2

In [24]:
arr3d = np.array([
        [[1,2,3],[4,5,6]],
        [[7,8,9],[10,11,12]]
        ])

print(arr3d)
print(arr3d.ndim)

[[[ 1  2  3]
  [ 4  5  6]]

 [[ 7  8  9]
  [10 11 12]]]
3

In [25]:
#Elements in a 3D array are accessed using three indices: 
# [depth, row, column].

element = arr3d[0,1,0]

print(f"Element at [1, 1, 0]: {element}")

Element at [1, 1, 0]: 4

In [26]:
print(f"dimension: {np.ndim(arr1d)}")
print(f"shape: {arr1d.shape}")

print(f"dimension: {np.ndim(arr2d)}")
print(f"shape: {arr2d.shape}")

print("dimension: ",np.ndim(arr3d))
print("shape: ",arr3d.shape)

arr1d.dtype

dimension: 1
shape: (4,)
dimension: 2
shape: (2, 3)
dimension:  3
shape:  (2, 2, 3)

dtype('int64')

In [42]:
shape1d = arr1d.ndim
print(shape1d)

size1d = arr1d.size
print(size1d)

shape2d = arr2d.shape
print(shape2d)

size2d = arr2d.size
print(size2d)

size3d = arr3d.size
size3d

1
4
(2, 3)
6

12

In [43]:
print(arr1d)

[1 2 3 4]

In [ ]:
# broadcasting

arr1d * 30

array([ 30,  60,  90, 120])

In [50]:
arr1d + arr1d

array([2, 4, 6, 8])

In [57]:
arr1 = np.array([1,2,3,])
print(arr1)

arr2 = np.array([[10,20,30],
                [10,20,30]])
print(arr2)

print('Result:',arr1 + arr2)

[1 2 3]
[[10 20 30]
 [10 20 30]]
Result: [[11 22 33]
 [11 22 33]]

In [58]:
a = 10
b = 3
print(a + b) # Addition: 13
print(a - b) # Subtraction: 7
print(a * b) # Multiplication: 30
print(a / b) # Division: 3.333
print(a // b) # Floor Division: 3
print(a % b) # Modulus: 1
print(a ** b) # Exponentiation: 1000

13
7
30
3.3333333333333335
3
1
1000

In [60]:
3**30

205891132094649

In [63]:
prices = np.array([4000000,3500000,2500000])
print(f'The prices are: {prices/1000000} million') # scale data

The prices are: [4.  3.5 2.5] million

In [64]:
import numpy as np

# Create an array from 0 to 4 (stop=5, start=0, step=1 by default)
arr1 = np.arange(5)
print(f"Example 1: {arr1}")

# Create an array from 1 to 9 with a step of 2
arr2 = np.arange(1, 10, 2)
print(f"Example 2: {arr2}")

# Create an array with floating-point numbers
arr3 = np.arange(0.5, 2.5, 0.5)
print(f"Example 3: {arr3}")

# Create a descending array using a negative step
arr4 = np.arange(10, 0, -2)
print(f"Example 4: {arr4}")

Example 1: [0 1 2 3 4]
Example 2: [1 3 5 7 9]
Example 3: [0.5 1.  1.5 2. ]
Example 4: [10  8  6  4  2]

In [78]:
range_numbers = np.arange(1,11)
range_numbers
range_numbers.reshape(5,2) #(column,row)
#print(range_numbers)

# exactly same as this
range_example = np.arange(1,11).reshape(5,2)
print(range_example)

[[ 1  2]
 [ 3  4]
 [ 5  6]
 [ 7  8]
 [ 9 10]]

In [ ]:
a = [i for i in range(1000)]
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999]

In [103]:
# only list comprehension we have used
nums = [x for x in range(0,101,2)] 
print(nums)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [113]:
nums1 = nums[100:0:-1] # accessing elements in list
print(nums1)

array_nums = np.array(nums) 
print(array_nums)

print(array_nums[:])

[100, 98, 96, 94, 92, 90, 88, 86, 84, 82, 80, 78, 76, 74, 72, 70, 68, 66, 64, 62, 60, 58, 56, 54, 52, 50, 48, 46, 44, 42, 40, 38, 36, 34, 32, 30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2]
[  0   2   4   6   8  10  12  14  16  18  20  22  24  26  28  30  32  34
  36  38  40  42  44  46  48  50  52  54  56  58  60  62  64  66  68  70
  72  74  76  78  80  82  84  86  88  90  92  94  96  98 100]
[  0   2   4   6   8  10  12  14  16  18  20  22  24  26  28  30  32  34
  36  38  40  42  44  46  48  50  52  54  56  58  60  62  64  66  68  70
  72  74  76  78  80  82  84  86  88  90  92  94  96  98 100]

In [126]:
line = np.linspace(0,1,10) # values are evenly spaced and stored in array
print(line)

array2 = np.linspace(1, 5, num=3, endpoint=False)
print(array2)

[0.         0.11111111 0.22222222 0.33333333 0.44444444 0.55555556
 0.66666667 0.77777778 0.88888889 1.        ]
[1.         2.33333333 3.66666667]

In [172]:
np.zeros((3,3))
np.ones((3,3))
# take in tuples of shape, and return arrays

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [171]:
arr_1d = np.zeros(5)
print(f"1D array: {arr_1d}")

arr_2d = np.zeros((2, 3))
print(f"2D array: {arr_2d}")

arr_3d_int = np.zeros((2, 2, 2), dtype=int)
print(f"3D integer array: {arr_3d_int}")

1D array: [0. 0. 0. 0. 0.]
2D array: [[0. 0. 0.]
 [0. 0. 0.]]
3D integer array: [[[0 0]
  [0 0]]

 [[0 0]
  [0 0]]]

In [183]:
# random class in numpy 
# numbers

np.random.seed(40)

#random_array = np.random.rand(3,4)
#random_array

random_array = np.random.randint(0,100,(6,2)) # start, stop, (shape)
random_array

array([[70, 91],
       [ 7, 37],
       [56, 50],
       [65, 12],
       [71, 19],
       [31, 74]])

In [190]:
flat_array = random_array.flatten()
flat_array

reshape_array = flat_array.reshape(6,2)
reshape_array

array([[70, 91],
       [ 7, 37],
       [56, 50],
       [65, 12],
       [71, 19],
       [31, 74]])

In [189]:
# transform
reshape_array.T

array([[70,  7, 56, 65, 71, 31],
       [91, 37, 50, 12, 19, 74]])

In [ ]:
# aggregations 

data = np.array([85,94,22,68,94,54,98]) # marks

# sum
# mean
# min max

print(data.sum())

# create a list of 1 to 10
# use list comprehension
# give me the addition of numbers from 1 to 10

515

In [200]:
list1 = [i for i in range(1,11)]

data2 = np.array([(list1)])
print(data2.sum())
data2.mean()

55

np.float64(5.5)

In [199]:
array_idrees = np.array([num for num in range(1,11)])
sum_of_array_idrees = array_idrees.sum()
print(sum_of_array_idrees)
array_idrees.mean()

# list comprehension - [ number : expression ]

55

np.float64(5.5)

In [201]:
a_2d_matrix = np.ones((3,5))

print(a_2d_matrix)

[[1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]]

In [203]:
a_2d_matrix.sum(axis=0) # column wise sum

#a_2d_matrix.sum(axis=1) # row wise sum

array([3., 3., 3., 3., 3.])

In [ ]:
# splitting numpy arrays
# exactly same as this
dataset_array = np.arange(1,101).reshape(50,2) #reshape(row,column)
#print(dataset_array)

# x input ----->  y output
# 1 ------> 2
# rows are 50

train_dataset = dataset_array[:25] # 70 rows [start:stop] [0 (start):25]

test_dataset = dataset_array[25:] # All the rows [25:50 (end)]

print(test_dataset)

[[ 51  52]
 [ 53  54]
 [ 55  56]
 [ 57  58]
 [ 59  60]
 [ 61  62]
 [ 63  64]
 [ 65  66]
 [ 67  68]
 [ 69  70]
 [ 71  72]
 [ 73  74]
 [ 75  76]
 [ 77  78]
 [ 79  80]
 [ 81  82]
 [ 83  84]
 [ 85  86]
 [ 87  88]
 [ 89  90]
 [ 91  92]
 [ 93  94]
 [ 95  96]
 [ 97  98]
 [ 99 100]]