In [33]:
import sqlite3

import sqlite3 as sql

In [34]:
connection = sql.connect('test.db')

cursor = connection.cursor()

In [35]:
cursor.execute('''

CREATE TABLE students(
    id INT PRIMARY KEY,
    name VARCHAR(10),
    city VARCHAR(10),
    hobby VARCHAR(10)
)
               
''')

In [36]:
connection.commit()

In [37]:
cursor.execute(
    "INSERT INTO students (id,name,city,hobby) VALUES (1,'Hazirah','Seremban','Playing computer games')"
)

In [38]:
cursor.execute("INSERT INTO students (id,name,city,hobby) VALUES (2,'Hazirah2','SA','Kites flying')")
cursor.execute("INSERT INTO students (id,name,city,hobby) VALUES (3,'Athirah','PJ','Baking cakes')")
cursor.execute("INSERT INTO students (id,name,city,hobby) VALUES (4,'Aisyah','KL','Hiking')")
cursor.execute("INSERT INTO students (id,name,city,hobby) VALUES (5,'Mell','KJ','Sewing')")

In [40]:
cursor.execute("SELECT * FROM students")

results = cursor.fetchall()
results

[(1, 'Hazirah', 'Seremban', 'Playing computer games'),
 (2, 'Hazirah2', 'SA', 'Kites flying'),
 (3, 'Athirah', 'PJ', 'Baking cakes'),
 (4, 'Aisyah', 'KL', 'Hiking'),
 (5, 'Mell', 'KJ', 'Sewing')]